@using PracticeModul.Models
@model Hero

@section head{
    <title>Create your Hero</title>
    <meta name="keywords" content="create, hero creator, heroeditor">
}

<form action="create" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column">

    @Html.LabelFor(t => t.Name)
    @Html.EditorFor(t => t.Name)
    @Html.ValidationMessageFor(t => t.Name)

    @Html.LabelFor(t => t.Level)
    @Html.EditorFor(t => t.Level)
    @Html.ValidationMessageFor(t => t.Level)

    @Html.LabelFor(t => t.HasMount)
    @Html.CheckBoxFor(t => t.HasMount)

    @Html.LabelFor(t => t.Kast)   
    @Html.DropDownListFor(t => t.Kast, Html.GetEnumSelectList(typeof(ClassEnum)))

   @*  <input type="hidden" name="contenttype" value="asd"/>
    <input type="hidden" name="data" value="asd"/> *@
    <label>Picture</label>
    <input type="file" name="picturedata" />

    <input type="submit" value="Create" /> 

</form>